{% extends "base/base.html" %}
{% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">
        
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'product:brands' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-copyright fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Marques</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'product:colors' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-palette fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Couleurs</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'product:flavors' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-leaf fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Parfums</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'product:ranges' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-wave-square fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Gammes</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-12 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:products' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-fill-drip fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Produits</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
           

        <!-- Section heading -->
        <hr class="mb-4">

        

        </div>


</div>
<!--First row-->
</section>
</div>
{% endblock content %}