{% extends "base/base.html" %} {% load static %} {% block content %}
<main>
  <div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="table-responsive text-nowrap">
      <h2>Commande N°: <strong>{{ object.slug }}</strong></h2>
      <br />
      <div class="container">
        <h2 style="text-align: center">{{ object.get_type_order_display }}</h2>
      </div>
      <br />
      <div class="float-right">
        <!--  -->
        <!--  -->
        <form method="POST" action=".">
        {% csrf_token %}
        <div class="form-inline">
            {% if object.type_order == 'STOCK_ENTRY' %}
            {% if object.supplier is None %}
            {{ form.supplier }}<button type="submit" class="btn btn-sm btn-dark">Choisir</button>
            {% else %}
            {{ object.supplier }}
            {% endif %}
            {% endif %}
        </div>
      </div>
        </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Quantité</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.product_designation }}</td>
            <td>{{ order_item.quantity }}</td>
            <td>
              <a
                class="btn btn-red btn-sm"
                href="{% url 'stock-manager:remove-item' order_item.identifier %}"
                >Supprimer
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5"><h2>Vous n'Avez Aucun Produit</h2></td>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="text-left">
        <hr />
        <strong>Quantité Totale: {{ object.get_total }} </strong>
        <br />
        <strong>Date: {{ object.ordered_date }} </strong>
      </div>
      <div class="mt-3">{% include 'base/messages.html' %}</div>
      <!--  -->
      {% if object.supplier == None and object.type_order == "STOCK_ENTRY" %}{% else %}
      <a id = "validation_button" class="btn btn-dark float-right mt-4" type="submit" href="{% url 'stock-manager:order-validation' %}">Valider</a>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}
